<ion-view view-title="Edit Profile">
    

    <ion-content>
        <div align= "center" style="background-color: #de5947;height:40%;padding-top:40px;color:white">
			<img src="img/event_profile_img.png" style="width:100px;height:100px;">
			<p>Smith John<br>
			Philadelphia,USA</p>
			
		</div>
        <div class="well">
		
		<br></br>
		
		    <form class="form-group">
                <div class="form-group">
					<label style="color:#de5947;" for="fname" class="">First Name</label>
					<label class="item item-input">
						<input type="text" placeholder="First Name">
					</label>
                    
                </div>
                <div class="form-group">
                    <label style="color:#de5947;" for="lname" class="">Last Name</label>
                    <label class="item item-input">
						<input type="text" placeholder="Last Name">
					</label>
                </div>
                <div class="form-group">
                    <label style="color:#de5947;" for="username" class="">Username</label>
                    <label class="item item-input">
						<input type="text" placeholder="Username">
					</label>
                </div>
                <div class="form-group">
                    <label style="color:#de5947;" for="email" class="">Email</label>
                    <label class="item item-input">
						<input type="text" placeholder="Email">
					</label>
                </div>
                <div class="form-group">
                    <label style="color:#de5947;" for="fb_url" class="">Facebook</label>
                    <label class="item item-input">
						<input type="text" placeholder="Facebook">
					</label>
                </div>
                <div class="form-group">
                    <label style="color:#de5947;" for="insta_url" class="">Instagram</label>
                    <label class="item item-input">
						<input type="text" placeholder="Instagram">
					</label>
                </div>
                <div class="form-group">
                    <label style="color:#de5947;" for="twitter_url" class="">Twitter</label>
                    <label class="item item-input">
						<input type="text" placeholder="Twitter">
					</label>
                </div>
				<button class="btn btn-theme btn-block no-radius" type="submit">Save</button>
            </form>
			
        </div>
    </ion-content>
</ion-view>

