<ion-view view-title="Event List">
    <!--<ion-nav-buttons side="right">
        <a class="button button-clear button-positive icon ion-plus-circled" href="#app/event/add"></a>
    </ion-nav-buttons>-->
    <ion-content>
	
        <div class="row event_list_row">
            <div class="col-xs-12 col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4 col-lg-4 col-lg-offset-4 padding_0">
                <div class="event_list" ng-repeat="event in eventData">
                    <div class="event_list-image">
                        <a ng-click="viewEvent(event)"  href="#/app/event/view/{{event.id}}"><img class="img-responsive" src="{{event.event_picture}}"></a>
                        <div class="event_list-title">
                            <span class="event_name">{{event.event_name}}</span>
                            <span class="event_date">{{event.event_starttime | date : "fullDate"}}</span>
                            <span class="event_time">{{event.event_starttime | date : "shortTime"}}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </ion-content>
	<a class="button button-float" href="#app/event/add">
        <i class="icon ion-plus"></i>
    </a>
</ion-view>