<ion-view view-title="Media List">
	
  <ion-content>
    <form class="form-horizontal">
	 <div class="list">

		  <div class="item item-button-right ion-image">
			Image
			<button class="button button-outline button-positive ion-eye" ng-click="imagelists()">
			 View
			</button>
		  </div>

		</div>
		
	</form>
	
	<form class="form-horizontal">
	 <div class="list">

		  <div class="item item-button-right ion-music-note">
			Music
			<button class="button button-outline button-positive ion-eye" ng-click="musiclists()">
			  View
			</button>
		  </div>

		</div>
		
	</form>
	
	<form class="form-horizontal" action="#/app/videolists">
	 <div class="list">

		  <div class="item item-button-right ion-videocamera">
			Videos
			<button class="button button-outline button-positive ion-eye" ng-click="videolists()">
			  View
			</button>
		  </div>

		</div>
		
	</form>
	  </ion-content>
</ion-view>
