<ion-view view-title="Music List">
    <!--<ion-nav-buttons side="right">
        <a class="button button-clear button-positive icon ion-plus-circled" href="#app/music/add">
        </a>
    </ion-nav-buttons>-->
    <ion-content>
		<div class="row event_list_row"  ng-repeat="music in musicData">
            <div class="col-xs-12 col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4 col-lg-4 col-lg-offset-4 padding_0">
                <div class="event_list">
                   	<div class="event_list-image">
                        <iframe style="width: 100%" class="img-responsive" ng-src="{{music.link}}" frameborder="0"></iframe>
                        <div class="event_list-title text-left">
                            <span class="event_name">{{music.media_title}}</span>
                        </div>
						
                    </div>
					<div id="container-floating">
					 	<div id="floating-button" data-toggle="tooltip" data-placement="left" data-original-title="Create" ng-click= "shareMusic(music)">
							<p class="plus"><i class="fa fa-share-alt fa-2x" aria-hidden="true"></i></p>
						</div>
					</div>	
                </div>
				<div class="event_list">
				
					<div class="event_list-text">
					
						<div class="event_list-content col-lg-6 col-xs-6 paddin-t-10">
							<a class="btn btn-theme no-radius btn-block" ng-click="showEdit(music)"  href="#/app/music/edit/{{music.id}}"><i class="fa fa-edit" aria-hidden="true"></i> Edit</a>
						</div>
						<div class="event_list-content col-lg-6 col-xs-6 paddin-t-10">
							<a class="btn btn-theme no-radius btn-block" ng-click= "deleteMusic({{music.id}})" href="javascript:void(0);"><i class="fa fa-trash" aria-hidden="true"></i> Delete</a>
						</div>

						<div class="clearfix"></div>
					
					</div>
					
				</div>
            </div>
        </div>

    </ion-content>
	<a class="button button-float" href="#app/music/add">
        <i class="icon ion-plus"></i>
    </a>
</ion-view>