<ion-view view-title="Profile">
    <ion-nav-buttons side="right">
        <a class="button button-clear icon icon ion-compose" style= "color:white;" href="#/app/editprofile"></a>
    </ion-nav-buttons>

    <ion-content>
        <div align= "center" style="background-color: #de5947;height:40%;padding-top:40px;color:white">
			<img src="img/event_profile_img.png" style="width:100px;height:100px;">
			<p>Smith John<br>
			Philadelphia,USA</p>
		</div>
        <div class="well">
		
		<br></br>
		    <form class="form-group">
                <div class="form-group">
                    <label style="color:#de5947;" for="fname" class="">First Name</label>
                    <p>Smith</p>
                </div>
                <div class="form-group">
                    <label style="color:#de5947;" for="lname" class="">Last Name</label>
                    <p>John</p>
                </div>
                <div class="form-group">
                    <label style="color:#de5947;" for="username" class="">Username</label>
                    <p>sjohn</p>
                </div>
                <div class="form-group">
                    <label style="color:#de5947;" for="email" class="">Email</label>
                    <p>john@gmail.com</p>
                </div>
                <div class="form-group">
                    <label style="color:#de5947;" for="fb_url" class="">Facebook</label>
                    <p>http://facebook.com/smith</p>
                </div>
                <div class="form-group">
                    <label style="color:#de5947;" for="insta_url" class="">Instagram</label>
                    <p>https://www.instagram.com/smith</p>
                </div>
                <div class="form-group">
                    <label style="color:#de5947;" for="twitter_url" class="">Twitter</label>
                    <p>http://twitter.com/smith</p>
                </div>
            </form>
        </div>
    </ion-content>
</ion-view>